<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="AdventureWorks2014" connectionString="data source=.;Integrated Security=True;Initial Catalog=AdventureWorks2014;User Instance=true" providerName="System.Data.SqlClient"/>-->
    <add name="AdventureWorks2014" connectionString="Server=.;Database=AdventureWorks2014;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>